extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Sam Stickle

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML 
          li CSS
          li JavaScript
          li jQuery 
          li Node.js
          li Express
          li Pug
          li Git
          li Responsive Design
          li Microsoft Office
      
        h6 Contact Info

        //- Add your own contact info
        ul
          li sam2019git@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/sam-stickle-37062534/') LinkedIn
        a.button.expanded(href='https://github.com/samuel-2018') GitHub
        a.button.expanded(href='https://codepen.io/Samuel2019/') CodePen
         a.button.expanded(href='https://teamtreehouse.com/sam2018') TeamTreeHouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  