extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sam Stickle

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p 
            | Looking for someone eager to learn the technologies to get the job done?
          p
            | Hi, I’m Sam. A web developer and Treehouse Techdegree student. 
          p
            | I spent the last six years as an English teacher in South Korea. While living and working as an expat, I learned, as a fellow teacher put it, to “be flexible, be flexible, be flexible.”
          p 
            | Now, back in the U.S., I’m seeking to apply that same mindset to a position as a front-end or full-stack developer.
          p 
            | Have an opening?
          p 
            | Shoot me an email or send a message through LinkedIn.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML 
          li CSS
          li JavaScript
          li jQuery 
          li Node.js
          li Express
          li Pug
          li Git
          li Responsive Design
          li Microsoft Office
      
        h6 Contact Info
        ul
          li sam2019git@gmail.com

        //- Social media accounts
        a.button.expanded(href='https://www.linkedin.com/in/sam-stickle-37062534/') LinkedIn
        a.button.expanded(href='https://github.com/samuel-2018') GitHub
        a.button.expanded(href='https://codepen.io/Samuel2019/') CodePen
         a.button.expanded(href='https://teamtreehouse.com/sam2018') Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  