h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Merriweather", serif;
}

h5 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 15px;
  /* color: #666; */
  color: rgb(75, 75, 75);
}

.round {
  border-radius: 5px;
}

.text-light {
  /* color: #666; */
  color: rgb(75, 75, 75);
}

.button {
  /* background-color: #333; */
  background-color: #7e8190;
}

.button:hover {
  /* background-color: #111; */
  background-color: #60637a;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me {
  padding: 20px;
  background: #121213;
  /* background: #7e8190; */
  color: #fff;
  /* box-shadow: none !important; */
}

.portfolio-me p {
  font-size: 14px;
  color: #999;
}

.portfolio-me a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.portfolio-breadcrumb a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 5px;
}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 13px;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
}
.portfolio-bio p {
  padding-bottom: 0;
}

/*******************************
   Custom Error Page
********************************/

.overflow-wrap {
  overflow-wrap: break-word;
  max-width: 100;
}

/*******************************
  Thumbnail Effects
********************************/

/*Because objects can block other objects from receiving hover events, the events cannot be handled on each individual block. A higher level block needs to received that information for all blocks that need it. */

.zoom-n-clip__wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* https://www.swarmnyc.com/2014/03/23/css-transition-effect-bug-fix/ */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.zoom-n-clip__image {
  transition: transform 0.4s ease-out;
}

.zoom-n-clip__wrapper:hover > .zoom-n-clip__image {
  transform: scale(1.25);
  /* object-fit: cover; */
}

.text-overlay__wrapper {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  /* Position is based off parent element. */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Prevents it from blocking hover event.*/
  pointer-events: none;
}

.text-overlay {
  visibility: hidden;
  padding: 2rem;
  transition: 0.4s ease-out;
  /* The visibility/display of text cannot be animated. But the opacity can. */
  opacity: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #7e8190;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;

  /* https://www.swarmnyc.com/2014/03/23/css-transition-effect-bug-fix/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; */
}

.zoom-n-clip__wrapper:hover .text-overlay {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

/*******************************
  Misc.
********************************/

body {
  background-color: rgb(247, 239, 230);
}
.off-canvas.portfolio-me {
  box-shadow: 0.25rem 0 0.5rem gray;
}
h1 {
  color: #60806d;
}
.image,
.thumbnail,
.button {
  border-radius: 3px;
}
